<%- include('header'); -%>
<div class="container page-content">
  <h1 class='headings'>About Post</h1>
  <p>Donec ligula ipsum, cursus et fringilla eu, vestibulum eu dolor. Morbi venenatis velit pharetra eleifend faucibus. Mauris eu sem turpis. Fusce a urna ut urna aliquet pellentesque ut sed neque. Nunc nec fermentum nibh. Nam nisl turpis, egestas et
    convallis maximus, iaculis blandit est. Phasellus efficitur eu elit eu pharetra. Quisque tempor orci nulla, ac suscipit arcu iaculis a.

    Fusce id sapien porta, placerat dolor eget, egestas nulla. Praesent eget ligula et ante vestibulum tempus nec sed lectus. Sed vel leo eu orci tincidunt iaculis sed at elit. Fusce et tortor id purus venenatis tempus. Praesent luctus mi id lorem
    consequat, id rhoncus massa pretium. Fusce vitae enim efficitur, ullamcorper tellus non, auctor nisl. Maecenas faucibus sem eu euismod posuere. Morbi in neque tincidunt, facilisis metus eget, venenatis ante. Suspendisse rutrum tempor est et
    tristique. Duis luctus, lectus vel mollis ultricies, lectus metus bibendum ligula, ut dapibus lorem massa vitae purus. In egestas nisl id purus elementum porttitor. Suspendisse potenti. Nunc non convallis massa. Duis sit amet enim ac orci
    faucibus
    molestie.

    Donec vel nisl eu lorem vulputate maximus. Aenean egestas, mi a placerat egestas, magna nibh pretium purus, eu malesuada nibh magna et erat. Pellentesque id velit quis sem ullamcorper lobortis vitae et diam. Aliquam erat volutpat. Fusce dapibus
    ex
    vitae libero dapibus, nec aliquam mi pharetra. Phasellus pulvinar dui eros, elementum semper justo efficitur sit amet. Aliquam nec odio vel quam posuere tempor eget vitae massa. Aenean nec neque dignissim, pretium ligula ut, facilisis nibh. Nulla
    facilisi. Aliquam.</p>
</div>
<%- include('footer'); -%>
