<%- include('header'); -%>
<div class="container page-content">

  <h1 class="headings">Compose</h1>

  <label for="exampleFormControlInput1">Title</label>
  <form action="compose" method="post">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" id="exampleFormControlInput1" name="newTitle" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Post</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="newContant" rows="6"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</div>
<%- include('footer'); -%>
