<%- include('header'); -%>
<div class="container page-content">
  <h1 class='headings'>Contact Us</h1>
  <p>Donec leo lorem, condimentum in risus a, mollis commodo urna. Integer faucibus ligula vitae tincidunt dictum. Suspendisse at mollis odio. Proin efficitur nisi non urna tempus ultricies. Nam vestibulum molestie tortor, sed aliquet massa bibendum
    in. Donec nec leo pretium ligula varius finibus vel eu neque. Aliquam eu varius risus, a porttitor tellus. Maecenas id risus sapien. Fusce porta commodo dui, non mollis sem tristique nec. Mauris dolor turpis, sagittis id mi ac, fermentum pretium
    massa. Integer id cursus erat, et vulputate eros. Sed faucibus tempus vulputate. Quisque viverra, augue eu euismod fermentum, velit tortor laoreet ligula, eu tempor nunc dolor nec neque.

    Vestibulum eu feugiat augue, id lobortis lorem. Donec non dui ut justo euismod ultricies eu ac sem. Sed eget sodales purus, eu semper libero. Praesent ultrices felis ut neque dignissim pulvinar. Morbi nec malesuada lorem. Maecenas quis ipsum ac
    nulla rhoncus interdum bibendum vitae magna. Morbi faucibus felis sit amet nisl ultricies tempus. Quisque molestie tempus lectus, at pellentesque erat placerat id. Integer maximus neque eu finibus sagittis.

    Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce scelerisque convallis leo eu bibendum. Sed vitae sagittis mi. Morbi lacinia, lorem sed vestibulum congue, neque dui faucibus
    lectus, ultrices commodo neque dolor a elit. Suspendisse eu eleifend elit, pretium luctus nulla. Sed faucibus urna ex, sit amet pellentesque urna suscipit sit amet. Curabitur congue felis nec semper consectetur. Vestibulum pharetra erat nunc,
    elementum fringilla sapien elementum ac. Proin porta massa lectus, eget.

  </p>
</div>
<%- include('footer'); -%>
